<!DOCTYPE html>
<html>
<head>
    <title>Flask MongoDB CRUD</title>
</head>
<body>
    <h2>Student List</h2>
    <form action="/add" method="post">
        Name: <input type="text" name="name" required>
        Email: <input type="email" name="email" required>
        <button type="submit">Add User</button>
    </form>
    <hr>
    
   <table border="1" cellpadding="10" cellspacing="0">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for std in studnets_list %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ std.name }}</td>
            <td>{{ std.email }}</td>
            <td>
                <a href="/edit/{{ std._id }}">Edit</a> |
                <a href="/delete/{{ std._id }}" onclick="return confirm('Are you sure you want to delete this student?')">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
